html, body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

.main-container {
    display: flex;
    direction: row;
    width: 100vw;
}

.button {
    position: relative;
    bottom: 5rem;
    left: 60rem;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
}

a {
    font-size: 1.3rem;
}

header {
    background-color: black;
    width: 100vw;
    height: 5rem;
    margin-top: -1.3rem;
}

h2 {
    color: white;
    position: relative;
    left: 2rem;
    font-size: 3rem;
}

.images-container1, .images-container2, .images-container3, .images-container4 {
    display: flex;
    flex-direction: column;
    width: 25%;
}


img {
    width: 100%;
}